<h1 style="font-family: lato, helvetica neue, helvetica, arial, sans-serif"><%= locals.title %></h1>
<%#_ This is a quick, bad hack -- we need to parse markdown instead _%>
<%_ for (const paragraph of locals.intro.split(/\n{2,}/).filter((str) => str)) { _%>
<p style="color: #444444; font-family: open sans, helvetica neue, helvetica, arial, sans-serif"><%= paragraph.trim() %></p>
<%_ } _%>
<p><strong>Reminders:</strong></p>
<ul>
  <%_ for (const reminder of locals.introReminders) { _%>
  <li><%- reminder %></li>
  <%_ } _%>
</ul>
