<h2>This Week&rsquo;s Event</h2>
<h3 style="margin: 16px 0; font-size: 18px">Tuesday, <%= locals.date %></h3>
<h3 style="margin: 16px 0; font-size: 18px">Schedule:</h3>

<ul style="font-size:16px">
  <%_ for (const item of locals.scheduleItems) { _%>
  <li><%= item.time %> - <%= item.description %></li>
  <%_ } _%>
</ul>
<div style="margin: 1em 0; font-size: 16px">
  <div><strong>Intermediate teacher:</strong> <%= locals.teacherIntermediate %></div>
  <div><strong>Lesson topic:</strong> <%= locals.topicIntermediate %></div>
  <div><strong>Beginner teacher:</strong> <%= locals.teacherBeginner %></div>
  <div><strong>Lesson topic:</strong> <%= locals.topicBeginner %></div>
</div>
<div style="margin: 1em 0; font-size: 16px">
  <div><strong>DJ:</strong> <%= locals.dj %></div>
  <div><strong>Music:</strong> <%= locals.musicType %></div>
  <div><strong>Confirm on Facebook:</strong> <a href="<%= locals.facebookEventUrl %>"><%= locals.facebookEventUrl %></a></div
</div>
<div style="margin: 1em 0; font-size: 16px">
  <div><strong>Location:</strong> Upstairs Ballroom at the Vet&rsquo;s Club, 1626 Willamette Street Eugene, Oregon</div>
  <div><strong>Cost:</strong> <%= locals.cost %> (Cash or check only)</div>
  <div><strong>Volunteer:</strong> 30-minute desk shift gets you in free!</div>
</div>
<div style="margin: 1em 0; font-size: 14px">
  <div><strong>Parking:</strong> To the left of Vet&rsquo;s club building or nearby street parking.</div>
  <div><strong>Accessibility:</strong> The Vet&rsquo;s club&rsquo;s ramp is on the front-right corner of the building. There is an elevator directly to the right once inside the main entrance.</div>
</div>
