@import "_etango.css";

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1000px;
  margin: auto;
  padding: 0 3em 3em;
}

li + li {
  margin-top: 0.5rem;
}

.main-heading {
  color: brown;
}

.reset-button {
  margin-bottom: 1em;
  padding: 0.3em 0.5em;
  border: 2px solid red;
  border-radius: 5px;
}

.warning {
  margin: 0 0 1em;
  color: #a00;
}

label {
  font-weight: bold;
}

input {
  display: block;

  &[type="text"],
  &[type="url"] {
    width: 100%;
    min-width: 160px;
  }

  &:invalid {
    outline: 2px solid red;
  }
}

select {
  display: block;
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 150px;
  overscroll-behavior-y: none;
}

@keyframes slide-down {
  0% {
    transform: translate(-50%, -100%);
    /*transform: translate(-50%, 1%);*/
  }
  30% {
    transform: translate(-50%, 0);
    /*transform: translateY(-50%, 100%);*/
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.copy-alert {
  display: none;
}

.copy-alert.active {
  display: block;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  border: 1px solid #12a;
  border-radius: 5px;
  padding: 0.5rem;
  background: #e0f0ff;
  animation: 1.5s ease-in-out 2 alternate slide-down;
}

.copy-alert span {
  font-size: 1.25rem;
  line-height: 1;
  color: green;
}

.output-pair {
  display: flex;

  & > * {
    flex: 1 1;
  }
}

.output-html {
  border: 1px solid #000;
  padding: 5px;
  height: 150px;
  overflow-y: scroll;
}

.show-copy-button {
  position: relative;
}

.show-copy-button > button:first-child {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  line-height: 1;
  padding: 2px 5px 3px;
}

.show-copy-button > button:first-child:has(+ input) {
  top: 1px; /* Don't overlap the bottom of a single-line text input field */
}

/* Utility classes */

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  column-gap: 1em;
}

.flex-grow {
  flex-grow: 1;
}

.w-1-3 {
  width: 33%;
}
